html{
    width: 100%;
    height: 100%;
    background:#fff;
    margin-top: 0px;
 
    /* background-position: center; */
    /* background-size: cover; */
    /* position: relative; */
}
.btn{
    background-color: #B2A6CE;
    border: 0;

}
.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #B2A6CE;;
}
.right{
    display: flex;
    justify-content: space-evenly;
    flex:0 1 500px;
}
.left{
    margin-left: 2rem;
    
}
.form-box{
   
    min-width: 25rem;
    
   background: #fff;
   padding: 50px 60px 70px;
   text-align: center;
   box-shadow: 10px 10px 30px #6E5B9A;
   border-radius: 2rem;
   

}
#form{
    display: flexbox;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 50px;
    color:#6E5B9A;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #6E5B9A;
    position: absolute;
    bottom: -12px;
    left:50%;
    transform: translate(-50%);
}
.input-feild{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;

}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-feild i{
    margin-left: 15PX;
    color: #999;

}
form p{
    text-align: left;
    font-size: 14px;
}
form p a{
    text-decoration: none;
    color:#6E5B9A
}.btn-feild{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-feild button{
    flex-basis: 48%;
    background: #6E5B9A;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border:0;
    outline: 0;
    cursor: pointer;
    transition:background 1s;
}
.input-group{
    height:280px;


}
.btn-feild .disable{
    background: #eaeaea;
    color:#555;
}
.body{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.im{
    height: 500px;
    width: 500px;
  
    border-radius: 2rem;
    
}
body{
    margin: 0%;
}